.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submit-button {
  font-weight: bold;
  font-size: 12px;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 2px;
  border-radius: 8px;
  border: none;
  width: 20vh;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  color:cadetblue;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error-message {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
.success-message {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 16px;
  color: green;
  font-weight:bold;
}


@media screen and (min-width: 768px) {
  .form-container {
    max-width: 450px;
    flex-shrink: 0;
    box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
    padding: 48px 64px 48px 64px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 16px;

}